In [47]:
# Add the Pandas dependency.
import pandas as pd
import os

# Files to load
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

school_data_df=pd.read_csv(school_data_to_load)

student_data_df=pd.read_csv(student_data_to_load)

In [48]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [49]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [50]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df,school_data_df,on = ["school_name","school_name"])

In [66]:
# Calculate the total number of schools
school_uniques = school_data_complete_df["school_name"].unique()
school_count = len(school_uniques)

15

In [52]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()

In [53]:
# Calculate the average math and reading scores.
average_math_score = school_data_complete_df["math_score"].mean()
average_reading_score = school_data_complete_df["reading_score"].mean()

In [54]:
# Determining the passing grade
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [55]:
# Get all the students who are passing math in a new DataFrame
passing_math = school_data_complete_df[school_data_complete_df["math_score"]>= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"]>= 70]
passing_math_count = len(passing_math)
passing_reading_count = len(passing_reading)

In [56]:
# Get the total number of students
student_count = school_data_complete_df["student_name"].count()

In [57]:
# Calculate the percent that passed math and reading
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [58]:
# Calculate the students who passed both math and reading.
passed_math_reading = school_data_complete_df[(school_data_complete_df["math_score"]>= 70) & (school_data_complete_df["reading_score"]>= 70)]

In [59]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passed_math_reading["student_name"].count()

In [61]:
# Calculate the overall passing percentage.
overall_passing_percentage =  (overall_passing_math_reading_count / student_count) * 100

In [67]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame([
    {"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": total_budget,
     "Average Reading Score": average_reading_score,
     "Average Math Score": average_math_score,
     "% Passing Reading": passing_reading_percentage,
     "% Passing Math": passing_math_percentage,
     "% Overall Passing": overall_passing_percentage
    }])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326